<?xml version="1.0"?>
<launch>
    <include file="$(find rosardvarc)/launch/fsw_only.launch"/>
    <node name="read_raw_bluetooth_from_array" pkg="rosardvarc" type="read_raw_bluetooth_from_array.py" output="screen"/>
    <node name="usb_cam_node" pkg="usb_cam" type="usb_cam_node.py" output="screen"/>
    <include file="$(find mavros)/launch/px4.launch"/>
</launch>