<?xml version="1.0"?>
<launch>
    <include file="$(find rosardvarc)/launch/udlr_only.launch"/>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://192.168.0.10:14560@192.168.0.3:14558"/>
    </include>
    <node name="read_raw_bluetooth_from_array" pkg="rosardvarc" type="read_raw_bluetooth_from_array.py" output="screen"/>
    <node pkg="rosbag" type="record" name="rosbag_record_node" args="record -o $HOME/rosbags/ -b 0 --chunksize=1024 --lz4 bluetooth/az_els mavros/local_position/pose estimation/direction_vectors_uas estimation/estimated_rgv_states state_machine/mission_states state_machine/state_machine_criteria state_machine/forced"/>
</launch>
